<h1>Flute</h1>

<hr />

<h3>Senior Recital</h3>
<iframe src="https://www.youtube.com/embed/?playlist=UL9g_-12rsE" width="560" height="315" allowfullscreen></iframe>

<h5>Flute Sonata in E minor, BWV 1034</h5>
<small>Johann Sebastian Bach (1685-1750)</small>
<ol>
<li>Adagio ma non tanto</li>
<li>Allegro</li>
<li>Andante</li>
<li>Allegro</li>
</ol>
<hr>
<h5>Flute Concertino, Op. 107</h5>
<small>C&#233;cile Chaminade (1857 - 1944)</small>
<hr>
<h5>"The Great Train Race"</h5>
<h6><i>'The Flute As You Don't Usually Hear it!' for solo flute</i></h6>
<small>Ian Clarke (1964)</small>
<hr>
<h5>London Trio No. 1 in C Major</h5>
<small>Franz Joseph Haydn (1732 - 1809)</small>
<ol>
  <li>Allegro moderator</li>
  <li>Andante</li>
  <li>Finale: Vivace</li>
</ol>
<hr>
<h5>Sonata Flute and Piano</h5>
<small>Jind&#345;ich Feld (1925 - 2007)</small>
<ol>
  <li>All giocoso</li>
  <li>Grave</li>
  <li>All Vivace</li>
</ol>