<div class="d-flex flex-row">
  <h1>Ariel Todoki</h1>
  <div class="ml-auto align-self-end">
    <a [href]="socialMedia.link" target="_blank" *ngFor="let socialMedia of socialMediaList"><img [src]="socialMedia.imgUrl" alt="socialMedia.name" height="16px" /></a>
  </div>
</div>
<hr />
<h2>Experience</h2>
<ul class="list-group">
  <li
    class="list-group-item list-item-color"
    *ngFor="let experience of experienceList">
    <h4>{{experience.title}}</h4>
    <p>{{experience.company}}</p>
    <small>{{experience.startDate | date: 'MMM yyyy'}} - {{experience.endDate ? (experience.endDate | date: 'MMM yyyy') : 'Present'}}</small><br />
    <small>{{experience.location}}</small><br /><br />
    <p>{{experience.description}}</p>
  </li>
</ul>
<hr />
<h2>Education</h2>
<ul class="list-group">
  <li
    class="list-group-item list-item-color"
    *ngFor="let education of educationList">
    <h4>{{education.name}}</h4>
    <small>{{education.location}}</small><br />
    <small>{{education.startDate | date: 'yyyy'}} - {{education.endDate ? (education.endDate | date: 'yyyy') : 'Present'}}</small>
    <p>{{education.degree}}</p>
  </li>
</ul>
